.orderedItem{
    background-color: #70edd6;
    padding: 20px;
    width: 100%;
    border-radius: 40px;
    margin: 20px 0px;
}

.orderedImage{
    width: 40px;
    height: 40px;
    border: 1px solid red;
    border-radius: 50%;
    cursor: pointer;
}

.orderedImage:hover{
    transform: scale(1.5);
}

.orderedImage img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.orderedName{
    cursor: pointer;
    font-size: 20px;
}

.orderedName:hover{
    font-weight: bold;
}

.orderedItem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.orderedQtyBox{
    display: flex;
}

.orderNowBox{
    text-align: center;
}

.orderedQty, .cartPrice{
    margin: 0px 10px;
    font-weight: bold;
    font-size: 25px;
}

.cartBtn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    /* background-color: #70edd6; */
    font-weight: bold;
    cursor: pointer;
}

.cartBtn:active{
    transform: scale(0.8);
}

.increase:hover{
    background-color: green;
}
.decrease:hover{
    background-color: red;
}

.decrease[disabled]:hover{
    cursor:not-allowed;
    /* opacity: 0; */
    background-color: grey;
}