.login{
    height: 86vh;
    /* background-color: #b9fff8; */
}

.loginWrapper{
    /* background-color: red; */
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox{
    width: 400px;
    height: 400px;
    background-color: #70edd6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 20px 1px rgba(128, 128, 128, 0.5);
    position: relative;
}

.login h1{
    margin-bottom: 20px;
}

#loginBtn{
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
}

#loginBtn:hover{
    background-color: #ff4b4b;
    color: white;
    transform: scale(1.1);
}

#loginBtn:active{
    transform: scale(1);
}

.wrong{
    border: 2px solid red !important;
}



.loginForm input{
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 0px 10px;
}

#passwordInput{
    /* border-radius: 20px 0px 0px 20px; */
    margin: 20px 0px;
    /* height: 31px; */
}

/* .loginForm input[type="button"]{
    width: 30px;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    margin-top: 1px;
    cursor: pointer;
    height: 32px;
} */

.eye{
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 85px;
    bottom: 198px;
    cursor: pointer;
    color: grey;
}

.eye:hover{
    /* background-color: rgb(218, 218, 218); */
    color: black;
    transform: scale(1.1);

}

.needaccount{
    font-size: 16px;
}

.needaccount span{
    display: inline-block;
    width: 70px;
    height: 30px;
    /* background-color: red; */
}

.needaccount span:hover{
    transform: scale(1.1);
}

.signupLink{
    font-weight: bolder;
}

